<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4col-12 col-md-6 col-xl-4">
      <!-- Tree menu-->
      <tree-root [nodes]="nodes" [options]="options"></tree-root>
    </div>
    <div class="col-12 col-md-6 col-xl-8">
      <!-- Basic Details Panel-->
      <div class="panel panel-default top-buffer">
        <div class="panel-heading">
          <h3 class="panel-title">Basic Details</h3>
        </div>
        <div class="panel-body row">

          <!-- Inner panel 1-->
          <div class="panel panel-default col-6 col-md-6 col-xl-6">
            <div class="panel-body">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>

          <!-- Inner panel 2-->
          <div class="panel panel-default col-6 col-md-6 col-xl-6">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">@</span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon2">
            </div>
          </div>

        </div>


        <!-- The right side panel starts-->
        <div class="panel panel-default top-buffer">
          <div class="panel-heading">
            <h3 class="panel-title">Basic Details</h3>
          </div>
          <div class="panel-body row ">

            <!-- Inner panel 1-->
            <div class="panel panel-default col-6 col-md-6 col-xl-6">
              <div class="panel-body">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">@</span>
                  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon3">
                </div>
              </div>
            </div>

            <!-- Inner panel 2-->
            <div class="panel panel-default col-6 col-md-6 col-xl-6">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon4">
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
